@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    @if (Session["Username"] != null){ 
        Html.RenderPartial("_PageHeader");
    }
    <div>
        @RenderBody()
    </div>
</body>
</html>
